:root
{
    background:  url("../img/registerBackground.jpg") no-repeat center center fixed;
}
*{
    padding:  0  0;
    margin:  0  0;
}
main{
    width: 100%;
    margin: 20% auto;
}
.eye
{
    display: inline-block;
}
@keyframes rowSlider {
    0%{
        top: 200%;
    }
    100%
    {
        top:35%;
    }
}

@keyframes rowSliderHidden {
    0%{
        top: 35%;
    }
    100%
    {
        top:-50%;
    }
}
.pattern
{
    position:fixed;
    top: 15%;
    width: 100%;
    height: 70vh;
    background-color: #5ACBF5;
    opacity: 0.5;
}
form
{
    margin:  0 auto;
}
input:focus
{
    border:none;
    border-bottom: 1px solid gray;
}
.label h1{
    margin: 10px 0 ;
    padding:  0 0 ;
}
input
{
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    opacity: 0.7;
    height: 1.5em;
    font-size: xx-large;
}
.row
{
    width: 50%;
    position: fixed;
    margin: 0 20%;
    display: none;
}
.showRow
{
    animation: rowSlider 1s;
    animation-fill-mode: forwards;
    display: block;
}
.hiddenRow
{
    display: none;
}
@keyframes OK {
    0%{
        opacity: 0;
        transform: rotate(0deg);
        display: none;
    }
    100%
    {
        opacity: 1;
        transform: rotate(360deg);
        display: block;
    }
}
.next
{
    background-color: #023564;
    border: none;
    padding: 10px;
    margin: 25px 10px ;
    color: white;
    font-weight: 900;
    font-size: x-large;
    display: none;
} 
.OKShow
{
    animation: OK 1s;
    animation-fill-mode: forwards;
    display: block;
}
/*https://www.typeform.com/templates/t/beauty-pageant-registration-form-template/ */